# Arena feasibility server: authoritative upstream 0.2.9.3.0 duel.
# Copyright (C) 2026 Arena contributors. GPLv2+; see COPYING.txt.

SERVER_NAME Arena Grid
SERVER_PORT 4534
TALK_TO_MASTER 0

MAX_CLIENTS 2
MAX_CLIENTS_SAME_IP_SOFT 2
MAX_CLIENTS_SAME_IP_HARD 2
MAX_PLAYERS_SAME_IP 2

ENABLE_CHAT 0
ALLOW_VOTING 0
ALLOW_VOTING_SPECTATOR 0
WAIT_FOR_EXTERNAL_SCRIPT 0

AUTO_AIS 0
MIN_PLAYERS 0
NUM_AIS 0
TEAM_BALANCE_WITH_AIS 0

GAME_TYPE 1
AUTO_TEAM 1
TEAM_MAX_PLAYERS 1
TEAM_MIN_PLAYERS 1
TEAMS_MAX 2
TEAMS_MIN 2
ALLOW_TEAM_CHANGE 1

LIMIT_SCORE 1
LIMIT_ROUNDS 1
LIMIT_TIME 2

MAP_FILE Z-Man/fortress/sumo_4x4-0.1.1.aamap.xml
RESOURCE_REPOSITORY_SERVER 0
RESOURCE_REPOSITORY_CLIENT 0

LADDERLOG_WRITE_PLAYER_ENTERED 1
LADDERLOG_WRITE_PLAYER_LEFT 1
LADDERLOG_WRITE_ROUND_WINNER 1
LADDERLOG_WRITE_MATCH_WINNER 1
LADDERLOG_WRITE_GAME_END 1
