# Test-only regular-client profile for native/browser parity.
# Copyright (C) 2026 Arena contributors. GPLv2+; see COPYING.txt.
FIRST_USE 0
KEYBOARD 97 PLAYER_BIND CYCLE_TURN_LEFT 1
KEYBOARD 100 PLAYER_BIND CYCLE_TURN_RIGHT 1
BIG_BROTHER 0
SOUND_QUALITY 0
FLOOR_DETAIL 1
FLOOR_RED 1
FLOOR_GREEN .25
FLOOR_BLUE .25
GRID_SIZE 5
