# Test-only parity overlay. The harness establishes a second-NEW_MATCH boundary
# after both clients connect; MIN_PLAYERS is intentionally not used as a gate.
# Copyright (C) 2026 Arena contributors. GPLv2+; see COPYING.txt.
INCLUDE arena.cfg
